@page "/Courses2"
@using LexiconLMS.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LexiconLMS.Shared;
    

@attribute [Authorize( Roles ="Student")]
@inject HttpClient Http


<h3>Courses page</h3>

<p>Course name: @CoursesDTO.Name

    </p>

@code {
    
    private CourseDto CoursesDTO = new CourseDto();

}