@page "/"
@using LexiconLMS.Client.Components
@using LexiconLMS.Client.Pages
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IJSRuntime JavaScript



<AuthorizeView>
    <Authorized>
        <LoginDisplay />
        <p><a href="/StudentLandingPage">Student</a></p>
        <p><a href="/TeacherLandingPage">Teacher</a></p>
        
        
    </Authorized>
    <NotAuthorized>
        <ModalLogin RerenderParent="RerenderParent"></ModalLogin>
    </NotAuthorized>
</AuthorizeView>


@code {

    



    //[CascadingParameter] 
    //private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    private async void RerenderParent()
    {

        //calls javascript.js to reload when logged in
        await JavaScript.InvokeVoidAsync("reloadParent", "reloadParent");


        //for future use when fetching auth is working...
        //var authState = await authenticationStateTask;
        //var user = authState.User;

        
        //Console.WriteLine("ShouldRender.");
        //var x = ShouldRender();
    }

    

    


}