@page "/"
@using LexiconLMS.Client.Components
@using LexiconLMS.Client.Pages




<button @onclick="() => AddDevices()" @onclick:preventDefault="true" id="addItemBtn" class="btn btn-info">Rerender parent</button>
@*@if (context.User.Identity?.IsAuthenticated != true)
{
    <p>Logga in!!!</p>
}
else
{
    <p role="alert">You are not authorized to access this resource.</p>
}*@


@code {
    //Todo
    //CHECK-inside component: 1. Open modal for login if not logged in 
    // Close modal when logged in

    private void AddDevices()
    {
        //Denna körs
        Console.WriteLine("ShouldRender.");

        //Men troligen inte denna...
        ShouldRender();
    }
    
    [CascadingParameter] 
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{user.Identity.Name} is authenticated.");
        }
    }


}