@page "/studentpage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LexiconLMS.Shared
@attribute [Authorize]
@inject HttpClient Http


<h3>StudentPage</h3>

@code {

}
