@page "/StudentLandingPage"
@using LexiconLMS.Client.Components.Students
<div id="studentLandingPage" class="container">
    <div class="row justify-content-center gx-5">
        <div class="col-3" style="align-content: end">
            <CourseAttendees></CourseAttendees>
        </div>
        <div class="col-9">
            <CourseModules></CourseModules>
        </div>
    </div>
</div>

@code {
    
}