@page "/StudentLandingPage"
@using LexiconLMS.Client.Components.Students
<div id="studentLandingPage" class="container">
    <div class="row">
        <div class="col">
            <CourseAttendees></CourseAttendees>
        </div>
        <div class="col">
            <CourseModules></CourseModules>
        </div>
    </div>
</div>

@code {
    
}
