@page "/TeacherLandingPage"
@using LexiconLMS.Client.Components.Teachers

<div id="teacherLandingPage" class="container">
    <div class="row">
        <div class="col">
            <CourseList></CourseList>
        </div>
        <div class="col">
            <CourseModulesTeachers></CourseModulesTeachers>
        </div>
    </div>
</div>


@code {
    
}
