.editbutton {
    display: inline;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 500;
    background-color: #eee;
    font-size: 10px;
    color: black;
    opacity: 0.7;
    cursor: cell;
    padding: 2px;
    border: 1px solid #000;
}
