@using LexiconLMS.Shared.DTOs;

<p><b>Activities</b></p>


@foreach (var activity in courseSelectedModulesActivities)
{
    <p>@activity.Name</p>
    <p>@activity.ActivityTypeName</p>

}

@code {

    [Parameter]
    public IEnumerable<ActivityDto> courseSelectedModulesActivities { get; set; } = new List<ActivityDto>();

    private void doSomething()
    {
        Console.WriteLine("From activities");
    }

}
