@using LexiconLMS.Shared.DTOs;

<div id="courseModules">

    @{
        if (courseSelected == null)
        {
            <p>Select course you want information about</p>
        }
        else
        {
            <h1>@courseSelected.Name</h1>


            <p>Course description: @courseSelected.Desc</p>


            if (courseSelected.Modules == null)
            {
                <p>No modules found in this course</p>
            }
            else
            {
                <ModuleActivities courseSelectedModules="@courseSelected.Modules" />
            }
        }
    }

</div>

@code {

    [Parameter]
    public CourseDto courseSelected { get; set; }

    private void doSomething()
    {
        Console.WriteLine("From ");
    }

}