@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation



<div class="row g-2">

<AuthorizeView>
    <Authorized>
        <div class="col-7">&nbsp;</div>
            <div id="loginDisplay" class="col-4" >
                
                    <a href="authentication/profile">@context.User.Identity?.Name</a>
                    
          
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-primary clicky" @onclick="BeginLogOut">Log out</button>
              
            </div>
        
        
    </Authorized>
    <NotAuthorized>
            <div class="col-10" style="text-align: right;">
                <div class="p-3">

        <a href="authentication/register">Register</a>
        </div>
        </div>
            <div class="col-2" style="text-align: right;">
                <div class="p-3">
        <a href="authentication/login">Log in</a>
        </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
</div>
@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}


