@using LexiconLMS.Shared.DTOs;


<div id="courseModules">
    @{
        if (courseSelected == null)
        {
            <p>Select the course you want information about</p>
        }
        else
        {
            <h2 class="card-title">@courseSelected.Name</h2>
           
            //<EditButton Top="-50px" Left="-4px"></EditButton>
        
             <h4 class="card-text">Description: @courseSelected.Desc</h4>

    
            if (courseSelected.Modules == null)
            {
                <p>No modules found in this course!</p>
            }
            else
            {
                <ModuleActivitiesTeachers courseSelectedModules="@courseSelected.Modules" />
            }
        }
    }
</div>

@code {

    [Parameter]
    public CourseDto courseSelected { get; set; }

    private void doSomething()
    {
        Console.WriteLine("courseSelected: " + courseSelected);
    }

}