@using LexiconLMS.Shared.DTOs;
@using LexiconLMS.Client.Services;
    


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Active Courses:</h5>
        <div class="list-group" id="courseList">
            @foreach (var course in courseList)
            {
                <a href="#" class="list-group-item list-group-item-action" @onclick="async () => await GetCourse(course)" @onclick:stopPropagation="true">@course.Name</a>
            }
            @if (courseList.Count() == 0)
            {
                <p>No courses found.</p>
            }
        </div>
    </div>
</div>





@code {

    [Parameter]
    public IEnumerable<CourseDto> courseList { get; set; } = new List<CourseDto>();

    private void doSomething()
    {

        Console.WriteLine("From courseList");
    }

    [Parameter]
    public EventCallback<CourseDto> xGetCourse { get; set; }


    public async Task GetCourse(CourseDto course)
    {
        Console.WriteLine("From courseList GetCourse");

        await xGetCourse.InvokeAsync(course);
    }

  

}