<div id="courseList">
    <b>Courses</b>
    <ul>
        <li @onclick="() => doSomething()">UX Designer</li>
        <li @onclick="() => doSomething()">Front End</li>
        <li @onclick="() => doSomething()">Back End</li>
        <li @onclick="() => doSomething()">Fullstack</li>
        <li @onclick="() => doSomething()">Devops</li>
    </ul>
    <button>Create New</button>
</div>

@code {

    private void doSomething()
    {
        Console.WriteLine("From courseList");
    }

}