@using LexiconLMS.Shared.DTOs;


<div id="courseModules" style="

        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 100%;

">
    @{
        if (courseSelected == null)
        {
            <h3>Välj kurs du vill ha information om</h3>
        }
        else
        {
            <h1>@courseSelected.Name</h1>
            <EditButton Top="-10px" Left="-4px"></EditButton>
        
            <p>Kursbeskrivning:&nbsp;@courseSelected.Desc</p>

    
            if (courseSelected.Modules == null)
            {
                <p>Finns inga moduler inlagda på denna kurs</p>
            }
            else
            {
                <ModuleActivitiesTeachers courseSelectedModules="@courseSelected.Modules" />
            }
        }
    }


</div>

@code {

    [Parameter]
    public CourseDto courseSelected { get; set; }

    private void doSomething()
    {
        Console.WriteLine("courseSelected: " + courseSelected);
    }

}